.wuyuchang-focus {
  z-index: 9999999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 80px "Consolas";

  transition: all 1s;
}


.wuyuchang-adblock {
  position: fixed;
  left: 0;
  top: -10000px;
}
