.wuyuchang-focus {
  z-index: 9999999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 80px "Consolas";
  transition: all 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
  }
}

.wuyuchang-adblock #content_left > :not(.c-container) {
  position: fixed;
  opacity:0;
  z-index: -100;
}
.wuyuchang-adblock #content_right {
  animation: fadeOut 400ms forwards;
}
